@page
@model SE1611_Group_4_Final_Project.Pages.Admin.Invoice.InvoiceRequest
@{
}
<style>
    .search-bar {
        padding: 3%;
    }
</style>
<div class="container-fluid py-4">
    <div class="row">

        <div class="col-12">
            <div class="card mb-4">
                <div class="row search-bar">
                    <form id="formGet" method="get">
                        <div class="row table-reponsive">
                            <div class="col-12">
                                <label>Search Invoice By User Name Or Title</label>
                                <input class="form-control" asp-for="@Model.query" type="search" onchange="document.getElementById('formGet').submit()" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-header pb-0">
                    <h6>Invoice Paying table <a asp-page="Form"><i class="fa fa-plus add-icon" onclick="addNotif"></i></a></h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created For Room</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created Date</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>

                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Invoices != null)
                                {
                                    @foreach (var invoice in Model.Invoices)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center text-wrap">
                                                        <h6 class="mb-0 text-sm">@invoice.Title</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0 text-wrap">@invoice.Description</p>
                                            </td>
                                            <td class="align-middle text-center">
                                                @foreach (var room in invoice.Rooms)
                                                {
                                                    <span class="text-xs font-weight-bold mb-0">@room.Name - </span>
                                                }

                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-success">@invoice.CreatedDate.ToString("HH:mm dd/MM/yyyy")</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">@invoice.User?.Name</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <a asp-page-handler="RequestPaid" asp-route-id="@invoice.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Request Pay This Invoice
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a asp-page-handler="ConfirmPaid" asp-route-id="@invoice.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Confirm This Invoice Is Paid
                                                </a>
                                            </td>

                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>