@page
@model EditProfileModel
@{
}
<div class="col-md-8 mt-4">
    <div class="card">
        <div class="card-header pb-0 px-3">
            <h6 class="mb-0">User Information</h6>
        </div>

        <div class="card-body p-5">
            <form method="post">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="../img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                    <div class="col-3 py-3 ps-0 text">
                    </div>
                </div>
                <p class="text-sm">
                    <div class="input-group">
                        <textarea class="form-control" asp-for="@Model.constant" aria-label="With textarea"></textarea>
                    </div>
                </p>
                <input type="hidden" asp-for="@Model.user.Id" />
                <input type="hidden" asp-for="@Model.user.IdentifyNumber" />
                <input type="hidden" asp-for="@Model.user.IsAdmin" />
                <input type="hidden" asp-for="@Model.user.Email" />

                <hr class="horizontal gray-light my-4">
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                        <strong class="text-dark">Name:</strong>
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="@Model.user.Name" id="FullName" placeholder="Full Name">
                        </div>
                    </li>
                    <li class="list-group-item border-0 ps-0 text-sm">
                        <strong class="text-dark">Password:</strong>
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="@Model.user.Password" id="Password" placeholder="Password">
                        </div>
                    </li>
                    <li class="list-group-item border-0 ps-0 text-sm">
                        <strong class="text-dark">Address:</strong>
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="@Model.user.Address" id="Address" placeholder="Address">
                        </div>
                    </li>
                    <li class="list-group-item border-0 ps-0 text-sm">
                        <strong class="text-dark">Phone Number:</strong>
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="user.Phone" id="PhoneNumber" placeholder="Phone Number">
                        </div>
                    </li>
                </ul>
                <div class="col-12 py-3 ps-0 text-end">
                    <button class="btn bg-gradient-success mb-0" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
