@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-12 col-sm-6">
        <div class="card">
            <div class="card-body" style="padding : 0;">
                <img src="~/img/Background.png" alt="background" class="card-img" />
            </div>
        </div>
    </div>
    <div class="accordion-1">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-6 mx-auto text-center">
                    <h2>Frequently Asked Questions</h2>
                    <p>A lot of people don’t appreciate the moment until it’s passed. I'm not trying my hardest, and I'm not trying to do </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="accordion" id="accordionRental">
                        <div class="accordion-item mb-3">
                            <h5 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How do I find available rooms on your website?
                                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                                <div class="accordion-body text-sm opacity-8">
                                    You can easily find available rooms on our website by using the search function. Simply enter your desired location, budget, and any other preferences you may have, and our website will show you all the available rooms that match your criteria.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do I need to pay a fee to use your website to find a room to rent?                                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                <div class="accordion-body text-sm opacity-8">
                                    No, you do not need to pay a fee to use our website to find a room to rent. Our service is completely free for tenants.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How can I be sure that the room I am interested in is legitimate and safe to rent?                                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                <div class="accordion-body text-sm opacity-8">
                                    We take the safety of our users very seriously and do our best to ensure that all listings on our website are legitimate and safe. We encourage users to thoroughly review each listing, ask questions, and conduct their own research before renting a room.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h5 class="accordion-header" id="headingFour">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What happens if I have a problem with my landlord or the room I rented?                                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                                <div class="accordion-body text-sm opacity-8">
                                    We recommend that you try to resolve any issues directly with your landlord. If you are unable to reach a resolution, please contact us and we will do our best to assist you.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-3">
                            <h5 class="accordion-header" id="headingFifth">
                                <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                                    How can I post a room for rent on your website?
                                    <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                </button>
                            </h5>
                            <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                                <div class="accordion-body text-sm opacity-8">
                                    To post a room for rent on our website, simply create an account and follow the steps to list your room. Make sure to include all the necessary details, such as location, price, and any rules or requirements you may have for potential tenants. Once your listing is approved, it will be visible to all users on our website.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask bg-gradient-dark"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 my-auto">
                            <h1 class="text-white fadeIn2 fadeInBottom">Improved Accuracy</h1>
                            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
                                With automated systems, there is less room for human error. This can help ensure that your data is accurate, your processes are consistent, and your outcomes are reliable. This can help you make more informed decisions and improve your bottom line.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask bg-gradient-dark"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 my-auto">
                            <h1 class="text-white fadeIn2 fadeInBottom">Increased Efficiency</h1>
                            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">By automating various processes and streamlining workflows, your system can help increase the efficiency of your operations. This can result in faster turnarounds, lower costs, and an overall increase in productivity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                <span class="mask bg-gradient-dark"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 my-auto">
                            <h1 class="text-white fadeIn2 fadeInBottom">Enhanced Customer Satisfaction</h1>
                            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
                                By providing a more efficient and accurate service, your customers are more likely to be satisfied with your business. This can lead to increased loyalty, positive reviews, and more word-of-mouth referrals. In the long run, this can help grow your business and increase revenue.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="min-vh-75 position-absolute w-100 top-0">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

    <div id="room" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
                  <div class="carousel-item active">
                <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('Background.png');">
                    <span class="mask bg-gradient-dark"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-white fadeIn2 fadeInBottom">@Model.Rooms[0].Name</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
                                @Model.Rooms[0].Description
                                </p>
                            <a style="padding:100px" class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" met asp-page="RoomDetail" asp-route-id="@Model.Rooms[0].Id">
                                    Read More
                                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @foreach (var item in Model.Rooms)
        {
            <div class="carousel-item">
                <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url('Background.png');">
                    <span class="mask bg-gradient-dark"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-white fadeIn2 fadeInBottom">@item.Name</h1>
                                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
                                    @item.Description
                                </p>
                                <a style="padding:100px" class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" met asp-page="/RoomDetail" asp-route-id="@item.Id">
                                    Read More
                                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="min-vh-75 position-absolute w-100 top-0">
            <a class="carousel-control-prev" href="#room" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#room" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>



