@page "/User/Room/RoomDetail/{id}"
@using SE1611_Group_4_Final_Project.Models;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@model RoomDetailModel
@{
}

<div class="row">
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Room Information</h6>
            </div>
            <div class="card-body p-7">

                <div id="carouselExampleIndicators@(Model.Room.Id)" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @{
                            string directory = System.IO.Path.Combine(Directory.GetCurrentDirectory(), @"wwwroot\img\room");
                            directory = $"{directory}\\{Model.Room.Id}";
                            var a = true;
                            if (System.IO.Directory.Exists(directory))
                            {
                                for (int i = 0; i < System.IO.Directory.GetFiles(directory).Length; i++)
                                {
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(a?"active":"")" aria-current="true" aria-label="Slide @i"></button>
                                    a = false;
                                }
                            }
                        }
                    </div>
                    <div class="carousel-inner" style="border-radius:5px">
                        @{
                            a = true;
                            if (System.IO.Directory.Exists(directory))
                            {
                                var file = System.IO.Directory.GetFiles(directory) ?? new string[0];
                                foreach (var f in file)
                                {
                                    var pathSplit = f.Split('\\');
                                    var fileName = pathSplit[pathSplit.Length - 1];
                                    <div class="carousel-item @(a?"active":"")">
                                        <img src="/img/room/@Model.Room.Id/@fileName" class="d-block w-100" alt="...">
                                    </div>
                                    a = false;
                                }
                            }

                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators@(Model.Room.Id)" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators@(Model.Room.Id)" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <hr class="horizontal gray-light my-4">
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Room Name:</strong> &nbsp;  @Model.Room.Name</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Area:</strong>&nbsp; @Model.Room.Area m²</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Price:</strong>&nbsp; @Model.Room.Price $</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Location:</strong>&nbsp; @Model.Room.Address</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                        <div class="card-header">
                            <strong class="text-dark">DESCRIPTION</strong>
                        </div>
                        @Model.Room.Description
                    </li>

                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4 mt-4">
                            @if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("User")))
                            {
                            }
                            else
                            {
                                string userJson = HttpContextAccessor.HttpContext.Session.GetString("User");
                                Models.User userLoggedIn = Newtonsoft.Json.JsonConvert.DeserializeObject<Models.User>(userJson);
                                if(userLoggedIn.IsAdmin == true)
                                {
                                    
                                } else
                                {
                                    <form method="post" asp-page="/User/Room/RoomDetail" asp-route-id="@Model.Room.Id">
                                        @if (Model.Room.IsAvailable == true)
                                        {
                                            <button type="submit" class="btn bg-gradient-primary">Book</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn bg-gradient-primary" disabled>Booked</button>
                                        }
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="card h-100 mb-4">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Your suggest Room</h6>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4 p-3">
                <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Related Room</h6>
                <ul class="list-group">
                    @foreach (var item in Model.SuggestedRooms)
                    {
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">@item.Name</h6>
                                    <a class="text-xs text-sm font-weight-bold mb-0 icon-move-right mt-auto" met asp-page="/User/Room/RoomDetail" asp-route-id="@item.Id">
                                        Read More
                                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                                @item.Price $
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
