@page "/User/Auth/InvoiceRoomDetail/{id}"
@model SE1611_Group_4_Final_Project.Pages.InvoiceRoomDetailModel

@{
}
<div class="card mb-4">
    <div class="card-header pb-0">
        <h6>INVOICE</h6>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Area</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                    </tr>
                    @foreach (var item in Model.Rooms)
                    {
                        <tr>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">@item.Id</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">@item.Name</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">@item.Area</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs text-wrap font-weight-bold">@item.Address</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">@item.Price</span>
                            </td>
                        </tr>
                    }
            </table>

            <div class="card-header pb-0">
                <h6>ROOM FURNITURE</h6>
            </div>
            <table class="table align-items-center mb-0">
                <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                </tr>
                @foreach (var item in Model.RoomFurnitures)
                {
                    <tr>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@item.Id</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@item.Name</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@item.Status</span>
                        </td>
                    </tr>
                }
            </table>

            <div class="card-body p-3 align-self-end">
                <ul class="list-group">
                    <hr class="horizontal gray-light my-4">
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Invoice ID:</strong> &nbsp; @Model.invoice.Id</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Paid Date:</strong> &nbsp; @Model.invoice.PaidDate.Value.ToShortDateString()</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Created Date:</strong> &nbsp; @Model.invoice.CreatedDate.ToShortDateString()</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Customer:</strong> &nbsp; @Model.invoice.User.Name</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; @Model.invoice.User.Address</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Total:</strong> &nbsp; @Model.Total $</li>
                </ul>
            </div>

        </div>
    </div>
</div>