@page
@model SE1611_Group_4_Final_Project.Pages.User.Invoice.RequestModel
@using SE1611_Group_4_Final_Project.Utils;

@{
}
<div class="card card-frame">
    <div class="card-body">
        <div class="col-3 py-3 ps-0">
            <a class="btn bg-gradient-primary" asp-page="/User/Invoice/RequestCreate">Create New Request</a>
        </div>
        <div class="card">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Room</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Request Type</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created Date</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.invoices.Count() != 0)
                        {
                            @foreach (var item in Model.invoices)
                            {
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@item.Rooms.FirstOrDefault().Name</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@Enum.GetName(typeof(Constant.InvoiceType),item.Type)</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold text-wrap">@item.Title</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.CreatedDate.ToShortDateString()</span>
                                    </td>
                                    @switch (item.Status)
                                    {
                                        case 6:
                                            <td class="align-middle text-center">
                                                <span class="badge bg-gradient-info">@Enum.GetName(typeof(Constant.InvoiceStatus),item.Status)</span>
                                            </td>
                                            break;
                                        case 7:
                                            <td class="align-middle text-center">
                                                <span class="badge bg-gradient-info">@Enum.GetName(typeof(Constant.InvoiceStatus),item.Status)</span>
                                            </td>
                                            break;
                                        case 8:
                                            <td class="align-middle text-center">
                                                <span class="badge bg-gradient-success">@Enum.GetName(typeof(Constant.InvoiceStatus),item.Status)</span>
                                            </td>
                                            break;
                                    }
                                    <td class="align-middle">
                                        <a asp-page="/User/Invoice/RequestDetail" asp-route-id="@item.Id" as class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Detail request">
                                            Detail
                                        </a>
                                        <label>
                                            |
                                        </label>

                                        <a asp-page-handler="Delete" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete request">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>